{% extends '@App/base/base-index.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="content">
                    <div class="home-section">
                        <div class="home-title-header">
                            <h1>Picked Languages</h1>
                            <a href="{{ path('languages_frontend') }}" class="home-more-tutorials">
                                <span class="bonus-text">All Languages <i class="fa fa-arrow-right"></i></span>
                            </a>
                        </div>
                        {% set pickedLanguages = get_featured_languages() %}
                        <div class="picked-grid picked-languages">
                            <div class="client-wrap opacity-focus">
                                {% for pickedLanguage in pickedLanguages %}
                                    {% include '@App/picked-language-template.html.twig' %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="home-section">
                        <div class="home-title-header">
                            <h1>Picked Tutorials</h1>
                            <a href="#" class="home-more-tutorials">
                                <span class="bonus-text">All Tutorials <i class="fa fa-arrow-right"></i></span>
                            </a>
                        </div>
                        {% set pickedTutorials = get_featured_tutorials() %}
                        <div class="picked-grid picked-tutorials">
                            <div class="container">
                                <div class="row">
                                    {% for tutorial in pickedTutorials %}
                                        {% include '@App/picked-tutorials-template.html.twig' %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        {#<div class="picked-grid picked-tutorials">#}
                            {#{% include '@App/rotate-index.hml.twig' %}#}
                        {#</div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="home-image-section">
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="content">
                    <div class="home-section" style="margin: 0">
                        <div class="home-title-header">
                            <h1>Most Active Users</h1>
                            <a href="#" class="home-more-tutorials">
                                <span class="bonus-text">All Languages <i class="fa fa-arrow-right"></i></span>
                            </a>
                        </div>
                        <div class="picked-grid picked-languages">
                            {% include '@App/team-index.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
