{% extends 'base.html.twig' %}

{% block body %}
    {% include 'index/index-header.html.twig' %}

    {% block content %}
    {% endblock %}

    <div id="footer" class="cf"></div>
    <div id="credit"><span>by. Arlina Design All Right Reserved</span></div>

    <div class='back-to-top' id='back-to-top' title='Back to top'><i class='fa fa-chevron-up'></i></div>
{% endblock %}

{% block javascripts %}
    {% javascripts
    '@AppBundle/Resources/assets/index/js/main.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets
    '@AppBundle/Resources/assets/index/css/style.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}