<div id="header">
    <a href="{{ path('homepage') }}"><img src="{{ asset('bundles/AppBundle/images/l2w-logo2ResizeFinal.png') }}" alt="Learn to WEB"></a>
    <p>THE WORLD'S LARGEST WEB DEVELOPER SITE</div>
<div id="menuwrap">
    <div id="menu">
        <span>TUTORIALS </span>
        <span>REFERENCES </span>
        <span>EXAMPLES </span>
        <span>BLOG </span>
    </div>
</div>