<div id="header">
    <a href="{{ path('homepage') }}"><img src="{{ asset('bundles/app/assets/index/img/logo/l2w-logo2ResizeFinal.png') }}" alt="Learn to WEB"></a>
    <p>THE WORLD'S LARGEST WEB DEVELOPER SITE</div>
<div id="menuwrap">
    <div id="menu">
        <div>TUTORIALS <i class="fa fa-caret-down"></i></div>
        <div>REFERENCES </div>
        <div>EXAMPLES </div>
        <div>L2W BLOG </div>
    </div>
</div>