<!-- Page Wrap -->
<div class="page-wrap">
    <div id="home-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide-one">
                    <div class="swiper-image" data-swiper-parallax-y="-20%">
                        <div class="swiper-image-inner swiper-image-left"
                             style="background-image: url({{ asset('bundles/app/assets/index/img/slides/js_slide1.png') }});">
                            <h1><span class="emphasis">JavaScript Frameworks</span> <br><span>Start learning now</span>
                            </h1>
                            <p>Programming language of HTML and the Web.</p>
                        </div>
                    </div>
                    <div class="swiper-image" data-swiper-parallax-y="35%">
                        <div class="swiper-image-inner swiper-image-right"
                             style="background-image: url({{ asset('bundles/app/assets/index/img/slides/js_slide2.png') }});">
                            <p class="paragraph">
                                Front-end JavaScript frameworks.
                                While the number of ways to organize JavaScript is almost infinite, here are some tools
                                that help you build single-page applications.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-two">
                    <div class="swiper-image" data-swiper-parallax-y="-20%">
                        <div class="swiper-image-inner swiper-image-left"
                             style="background-image: url({{ asset('bundles/app/assets/index/img/slides/php_slide2.jpg') }});">
                            <h1><span class="emphasis">PHP Frameworks</span> <br><span>Go to Tutorials</span></h1>
                            <p style="text-align: right">Scripting language that is especially suited for web development.</p>
                        </div>
                    </div>
                    <div class="swiper-image" data-swiper-parallax-y="35%">
                        <div class="swiper-image-inner swiper-image-right"
                             style="background-image: url({{ asset('bundles/app/assets/index/img/slides/php_slide1.png') }});">
                            <p class="paragraph">
                                The PHP Hypertext Preprocessor (PHP) is a programming language that allows web
                                developers to create web based software that interacts with databases.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-three">
                    <div class="swiper-image" data-swiper-parallax-y="-20%">
                        <div class="swiper-image-inner swiper-image-left"
                             style="background-image: url(https://source.unsplash.com/Jy6luiLBsrk/1600x900);">
                            <h1>A <span class="emphasis">Sense</span>. <br><span>Of Things to Come.</span></h1>
                            <p>Chapter III, page XI</p>
                        </div>
                    </div>
                    <div class="swiper-image" data-swiper-parallax-y="35%">
                        <div class="swiper-image-inner swiper-image-right"
                             style="background-image: url(https://source.unsplash.com/bxCgan0J1Sg/1600x900);">
                            <p class="paragraph">
                                Every man carries Two Bags about with him, one in front and one behind, and both are
                                packed full of faults. The Bag in front contains his neighbours’ faults, the one behind
                                his own. Hence it is that men do not see their own faults, but never fail to see
                                those of others.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>