<div class="wrapper">
    <section id="portfolio" class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" style="height: 70px;">
                    <ul id="filters" class="filters font-alt">
                        <li><a href="#" data-filter="*" class="current">All</a></li>
                        <li><a href="#" data-filter=".branding" class="">Frontend</a></li>
                        <li><a href="#" data-filter=".design" class="">Backend</a></li>
                        <li><a href="#" data-filter=".photo">Something</a></li>
                        <li><a href="#" data-filter=".web">Database</a></li>
                    </ul>
                </div>
            </div>
            <div class="works-grid-wrapper">
                <div id="works-grid" class="works-grid works-hover-w" style="position: relative; height: 1196px;">
                    <div class="grid-sizer"></div>
                    <div class="work-item tall branding"
                         style="height: 598px; position: absolute; left: 0px; top: 0px;">
                        <a href="http://templates.mycookroom.ru/Incanto-v1.0.1/Site/portfolio-single-1.html">
                            <img src="./Incanto - Responsive Multipurpose Template_files/img-1.jpg" alt="">
                            <div class="work-caption font-alt">
                                <h3 class="work-title">The European languages</h3>
                                <div class="work-descr">
                                    Branding
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- /PORTFOLIO ITEM -->

                    <!-- PORTFOLIO ITEM -->
                    <div class="work-item design" style="height: 299px; position: absolute; left: 315px; top: 0px;">
                        <a href="http://templates.mycookroom.ru/Incanto-v1.0.1/Site/portfolio-single-1.html">
                            <img src="./Incanto - Responsive Multipurpose Template_files/img-2.jpg" alt="">
                            <div class="work-caption font-alt">
                                <h3 class="work-title">The languages only</h3>
                                <div class="work-descr">
                                    Design
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- /PORTFOLIO ITEM -->

                    <!-- PORTFOLIO ITEM -->
                    <div class="work-item design" style="height: 299px; position: absolute; left: 630px; top: 0px;">
                        <a href="http://templates.mycookroom.ru/Incanto-v1.0.1/Site/portfolio-single-1.html">
                            <img src="./Incanto - Responsive Multipurpose Template_files/img-3.jpg" alt="">
                            <div class="work-caption font-alt">
                                <h3 class="work-title">Everyone realizes</h3>
                                <div class="work-descr">
                                    Design
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- /PORTFOLIO ITEM -->

                    <!-- PORTFOLIO ITEM -->
                    <div class="work-item design" style="height: 299px; position: absolute; left: 945px; top: 0px;">
                        <a href="http://templates.mycookroom.ru/Incanto-v1.0.1/Site/portfolio-single-1.html">
                            <img src="./Incanto - Responsive Multipurpose Template_files/img-4.jpg" alt="">
                            <div class="work-caption font-alt">
                                <h3 class="work-title">Corporate Identity</h3>
                                <div class="work-descr">
                                    Design
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- /PORTFOLIO ITEM -->

                    <!-- PORTFOLIO ITEM -->
                    <div class="work-item design" style="height: 299px; position: absolute; left: 315px; top: 299px;">
                        <a href="http://templates.mycookroom.ru/Incanto-v1.0.1/Site/portfolio-single-1.html">
                            <img src="./Incanto - Responsive Multipurpose Template_files/img-5.jpg" alt="">
                            <div class="work-caption font-alt">
                                <h3 class="work-title">Cambridge friend</h3>
                                <div class="work-descr">
                                    Design
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- /PORTFOLIO ITEM -->

                    <!-- PORTFOLIO ITEM -->
                    <div class="work-item wide-tall branding photo web"
                         style="height: 598px; position: absolute; left: 630px; top: 299px;">
                        <a href="http://templates.mycookroom.ru/Incanto-v1.0.1/Site/portfolio-single-1.html">
                            <img src="./Incanto - Responsive Multipurpose Template_files/img-6.jpg" alt="">
                            <div class="work-caption font-alt">
                                <h3 class="work-title">The grammar of the resulting language</h3>
                                <div class="work-descr">
                                    Branding / Photo / Web
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- /PORTFOLIO ITEM -->

                    <!-- PORTFOLIO ITEM -->
                    <div class="work-item wide design photo web"
                         style="height: 299px; position: absolute; left: 0px; top: 598px;">
                        <a href="http://templates.mycookroom.ru/Incanto-v1.0.1/Site/portfolio-single-1.html">
                            <img src="./Incanto - Responsive Multipurpose Template_files/img-7.jpg" alt="">
                            <div class="work-caption font-alt">
                                <h3 class="work-title">A collection of textile samples</h3>
                                <div class="work-descr">
                                    Design / Photo / Web
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- /PORTFOLIO ITEM -->

                    <!-- PORTFOLIO ITEM -->
                    <div class="work-item branding photo"
                         style="height: 299px; position: absolute; left: 0px; top: 897px;">
                        <a href="http://templates.mycookroom.ru/Incanto-v1.0.1/Site/portfolio-single-1.html">
                            <img src="./Incanto - Responsive Multipurpose Template_files/img-8.jpg" alt="">
                            <div class="work-caption font-alt">
                                <h3 class="work-title">Gregor then turned</h3>
                                <div class="work-descr">
                                    Branding / Photo
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- /PORTFOLIO ITEM -->

                    <!-- PORTFOLIO ITEM -->
                    <div class="work-item branding photo"
                         style="height: 299px; position: absolute; left: 315px; top: 897px;">
                        <a href="http://templates.mycookroom.ru/Incanto-v1.0.1/Site/portfolio-single-1.html">
                            <img src="./Incanto - Responsive Multipurpose Template_files/img-9.jpg" alt="">
                            <div class="work-caption font-alt">
                                <h3 class="work-title">He must have tried it</h3>
                                <div class="work-descr">
                                    Branding / Photo
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- /PORTFOLIO ITEM -->

                    <!-- PORTFOLIO ITEM -->
                    <div class="work-item wide design web"
                         style="height: 299px; position: absolute; left: 630px; top: 897px;">
                        <a href="http://templates.mycookroom.ru/Incanto-v1.0.1/Site/portfolio-single-1.html">
                            <img src="./Incanto - Responsive Multipurpose Template_files/img-10.jpg" alt="">
                            <div class="work-caption font-alt">
                                <h3 class="work-title">However hard he threw himself</h3>
                                <div class="work-descr">
                                    Design / Web
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
