{% extends 'default/base-frontend.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Blog Single - {{ slug }}</h1>
            </div>
        </div>
    </div>
{% endblock %}